@tailwind base;
@tailwind components;
@tailwind utilities;

.link{
    @apply flex justify-between items-center w-full;
}
.btn{
    @apply px-6 py-2 md:py-3 md:px-8 uppercase text-black bg-yellow-400 tracking-[3px] rounded-lg font-bold lg:font-semibold m-2 md:m-6 text-xs md:text-sm xl:text-lg
}


.footer-icon{
    @apply rounded-[50%] h-8 w-8 bg-gray-600 text-white text-xl hover:bg-black flex justify-center items-center
}
.input-box{
    @apply border  h-[3rem] md:h-[3.2rem] w-full rounded-xl border-gray-500 outline-none focus:border-black
}
body{
    font-family: 'Poppins'sans-serif;
    margin: 0;
    padding: 0;
}
.form-btn{
    @apply h-[3rem] md:h-[3.2rem] w-full rounded-lg text-center text-white hover:bg-white hover:text-black hover:shadow-xl bg-black text-lg tracking-wider font-semibold
}